.terraform
errored.tfstate
.terraform.lock.hcl
.venv
node_modules
output/**
.DS_Store

.nx/

*.pem
*.crt
*.key

*.env*
!.env.template

##This configuration won't change remotely, but locally we overwrite.
workspace/apps/cms/src/config/plugins.ts
